{{define "card-payment"}}
<div class="card" id="example-payment">
  {{template "card-header" dict "Title" "Payment Method" "Description" "Add a new payment method to your account."}}
  <section>
    <form class="grid gap-6" data-payment-form>
      <ul class="flex gap-4">
        <li class="flex-1">
          <input type="radio" name="payment-method-type" id="payment-method-type-card" value="card" class="hidden peer" checked />
          <label for="payment-method-type-card" class="text-sm font-medium leading-none flex flex-col items-center justify-between rounded-md border-2 border-muted p-4 hover:bg-muted peer-checked:border-primary [&>svg]:mb-3 [&>svg]:size-6">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect width="20" height="14" x="2" y="5" rx="2" /><line x1="2" x2="22" y1="10" y2="10" /></svg>
            Card
          </label>
        </li>
        <li class="flex-1">
          <input type="radio" name="payment-method-type" id="payment-method-type-paypal" value="paypal" class="hidden peer" />
          <label for="payment-method-type-paypal" class="text-sm font-medium leading-none flex flex-col items-center justify-between rounded-md border-2 border-muted p-4 hover:bg-muted peer-checked:border-primary [&>svg]:mb-3 [&>svg]:size-6">
            <svg role="img" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>PayPal</title><path d="M7.016 19.198h-4.2a.562.562 0 0 1-.555-.65L5.093.584A.692.692 0 0 1 5.776 0h7.222c3.417 0 5.904 2.488 5.846 5.5-.006.25-.027.5-.066.747A6.794 6.794 0 0 1 12.071 12H8.743a.69.69 0 0 0-.682.583l-.325 2.056-.013.083-.692 4.39-.015.087zM19.79 6.142c-.01.087-.01.175-.023.261a7.76 7.76 0 0 1-7.695 6.598H9.007l-.283 1.795-.013.083-.692 4.39-.134.843-.014.088H6.86l-.497 3.15a.562.562 0 0 0 .555.65h3.612c.34 0 .63-.249.683-.585l.952-6.031a.692.692 0 0 1 .683-.584h2.126a6.793 6.793 0 0 0 6.707-5.752c.306-1.95-.466-3.744-1.89-4.906z"/></svg>
            Paypal
          </label>
        </li>
        <li class="flex-1">
          <input type="radio" name="payment-method-type" id="payment-method-type-apple" value="apple" class="hidden peer" />
          <label for="payment-method-type-apple" class="text-sm font-medium leading-none flex flex-col items-center justify-between rounded-md border-2 border-muted p-4 hover:bg-muted peer-checked:border-primary [&>svg]:mb-3 [&>svg]:size-6">
            <svg role="img" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Apple</title><path d="M12.152 6.896c-.948 0-2.415-1.078-3.96-1.04-2.04.027-3.91 1.183-4.961 3.014-2.117 3.675-.546 9.103 1.519 12.09 1.013 1.454 2.208 3.09 3.792 3.039 1.52-.065 2.09-.987 3.935-.987 1.831 0 2.35.987 3.96.948 1.637-.026 2.676-1.48 3.676-2.948 1.156-1.688 1.636-3.325 1.662-3.415-.039-.013-3.182-1.221-3.22-4.857-.026-3.04 2.48-4.494 2.597-4.559-1.429-2.09-3.623-2.324-4.39-2.376-2-.156-3.675 1.09-4.61 1.09zM15.53 3.83c.843-1.012 1.4-2.427 1.245-3.83-1.207.052-2.662.805-3.532 1.818-.78.896-1.454 2.338-1.273 3.714 1.338.104 2.715-.688 3.559-1.701"/></svg>
            Apple Pay
          </label>
        </li>
      </ul>
      <div class="grid gap-2">
        <label class="label" for="payment-method-name">Name</label>
        <input class="input" type="text" id="payment-method-name" name="name" placeholder="John Doe">
      </div>
      <div class="grid gap-2">
        <label class="label" for="payment-method-city">City</label>
        <input class="input" type="text" id="payment-method-city" name="city" placeholder="New York">
      </div>
      <div class="grid gap-2">
        <label class="label" for="payment-method-card-number">Card Number</label>
        <input class="input" type="text" id="payment-method-card-number" name="card_number" placeholder="1234 5678 9012 3456">
      </div>
      <div class="flex gap-4">
        <div class="grid gap-2 flex-1">
          <label class="label" for="payment-method-expiration-month">Expires</label>
          <select class="select" id="payment-method-expiration-month" name="expiration_month">
            <option value="01">January</option>
            <option value="02">February</option>
            <option value="03">March</option>
            <option value="04">April</option>
            <option value="05">May</option>
            <option value="06">June</option>
            <option value="07">July</option>
            <option value="08">August</option>
            <option value="09">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
          </select>
        </div>
        <div class="grid gap-2 flex-1">
          <label class="label" for="payment-method-expiration-year">Year</label>
          <select class="select" id="payment-method-expiration-year" name="expiration_year">
            <option value="2024">2024</option>
            <option value="2025">2025</option>
            <option value="2026">2026</option>
            <option value="2027">2027</option>
            <option value="2028">2028</option>
            <option value="2029">2029</option>
            <option value="2030">2030</option>
            <option value="2031">2031</option>
            <option value="2032">2032</option>
            <option value="2033">2033</option>
            <option value="2034">2034</option>
          </select>
        </div>
        <div class="grid gap-2 flex-1">
          <label class="label" for="payment-method-cvv">CVV</label>
          <input class="input" type="text" id="payment-method-cvv" name="cvv" placeholder="123" maxlength="4">
        </div>
      </div>
      <button type="button" class="btn w-full" data-payment-continue>Continue</button>
    </form>
  </section>
</div>
{{end}}