{{define "card-cookies"}}
<div class="card" id="example-cookies">
  {{template "card-header" dict "Title" "Cookie Settings" "Description" "Manage your cookie settings here."}}
  <section class="text-sm grid gap-6">
    <label class="flex items-center justify-between gap-2">
      <div class="flex flex-col gap-0.5">
        <div class="font-medium">Strictly Necessary</div>
        <div class="text-muted-foreground">These cookies are essential in order to use the website and use its features.</div>
      </div>
      <input type="checkbox" name="strictly-necessary" role="switch" class="input" checked />
    </label>
    <label class="flex items-center justify-between gap-2">
      <div class="flex flex-col gap-0.5">
        <div class="font-medium">Functional Cookies</div>
        <div class="text-muted-foreground">These cookies allow the website to provide personalized functionality.</div>
      </div>
      <input type="checkbox" name="functional" role="switch" class="input" />
    </label>
    <label class="flex items-center justify-between gap-2">
      <div class="flex flex-col gap-0.5">
        <div class="font-medium">Performance Cookies</div>
        <div class="text-muted-foreground">These cookies help to improve the performance of the website.</div>
      </div>
      <input type="checkbox" name="performance" role="switch" class="input" />
    </label>
  </section>
  <footer>
    <button type="button" class="btn w-full" data-variant="outline" data-cookies-save>Save preferences</button>
  </footer>
</div>
{{end}}